body {
		background-color: #ecf0f1;
		overflow-x:hidden;}

.section-padding { margin: 120px 0 100px 0;}
@media (max-width: 320px){
	.section-padding { margin: 30px 0 40px 0;}
}
.gap { margin-top :5vh;}

.menu-btn {font-size: 3vh; padding-top:2vh; cursor: pointer; text-transform: uppercase;}

.primary img{max-width:100%;}