html,body{
	max-height:100%;
	max-width:100%;
  font-size: 100%;
  color:#fff;
  background-color: #ecf0f1;
  overflow-x:hidden;}

.gap-1 { margin-top : 7vh;}
.gap-2 { margin-top : 5vh;}
.gap-3 { margin-top : 3vh;}

.section-padding { margin: 100px 0 100px 0;}

.delay-05  {-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; -o-animation-delay: 0.5s; animation-delay: 0.5s;}
.delay-10  {-webkit-animation-delay:   1s; -moz-animation-delay:   1s; -o-animation-delay:   1s; animation-delay:   1s;}
.delay-15  {-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -o-animation-delay: 1.5s; animation-delay: 1.5s;}

.duration-05  {-webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; -o-animation-duration: 0.5s; animation-duration: 0.5s;}
.duration-10  {-webkit-animation-duration:   1s; -moz-animation-duration:   1s; -o-animation-duration:   1s; animation-duration:   1s;}   
.duration-15  {-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; -o-animation-duration: 1.5s; animation-duration: 1.5s;}   

.menu-btn {
    font-size: 4vh; 
    padding-top: 3vh; 
    cursor: pointer;
    text-transform: uppercase;}

header  {
    text-transform: uppercase;
    
    background-image:url(../images/blue.png);
    no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;}

.text-vertical-center{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    } 

 
td  {
    color:#000;
    border-bottom:#32eabb solid 2px; 
    font-size:3vmin;
    vertical-align: bottom;
    }

.primary , .secondary {background-color: #ecf0f1;}

.paper{
    background-color:#fff;
    padding-top:3vh;
    border: none;
    border-radius: 3px;
    padding-bottom: 7vh;
    }

.paper-red{
    color:#ecf0f1;
    background-color:#e91e63;
    padding-top:3vh;
    border: none;
    border-radius: 3px;
    padding-bottom: 7vh;
    }

.pos-1 { margin-top:-11vh; }

.btn-round{
    margin: -4.5vh 0px 0px -5vh;
    color:#ecf0f1;
    background-color: #32eabb;
    border:none;
    border-radius: 100%;
    width: 9vmin;
    height: 9vmin;
    font-size: 4vmin;
    position:absolute;
    }


/*===========================================================================*/
/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    padding-top:25vh;
    top: 0;
    z-index: 9999;
    background: #333;
    font-size: 2vh;
    font-weight: bold;
    text-transform: uppercase;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.pushy a{
    display: block;
    color: #b3b3b1;
    padding: 15px 10px;
    text-decoration: none;
}

.pushy a:hover{
    color: #6edfb1;
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}


/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 9999;
}